.games {
    padding: 10px;
    display: flex;
    margin-top: 15px;
}

.txt-small {
    font-size: 0.8em;
}

.sponsor-container div {    
    margin-right: 35px;
    margin-bottom: 10px;
    
}

.sponsor-container a {    
    color: black; 
    font-weight: bold;
}

.sponsor-img {
    width: 100%;
    max-height: 50px;
    max-width: 50px;    
}

.claro-img {
    max-height: 45px;
    max-width: 16rem;      
}

.flags {
    max-width: 35px;
}

.icons{
    max-width: 15px;
}

.ver-todo {    
    position: relative;    
    top: 45px;
    padding-left: 230px;
}

.ver-todo-desk {    
    position: relative;    
    top: 45px;
    padding-left: 64rem;    
}

.liga-mx {
    display: flex;
    overflow-y: auto;
}

.liga-mx img {
    width: 195px;
    height: 114.58px;
    margin-right: 5px;
    display: block;
}

.liga-mx p {
    font-size: 13px;
    font-weight: bold;
}

